DELETE FROM cart_items WHERE product_id IN (SELECT id FROM products WHERE custom_product_id LIKE 'P-%'); DELETE FROM orders WHERE product_id IN (SELECT id FROM products WHERE custom_product_id LIKE 'P-%'); DELETE FROM product_units WHERE product_id IN (SELECT id FROM products WHERE custom_product_id LIKE 'P-%'); DELETE FROM products WHERE custom_product_id LIKE 'P-%';
